@font-face {
    font-family: pacifico;
    src: url(./fonts/Pacifico-Regular.ttf);
}
body {
    background-color:#F0F4F7;
}

#appli{
text-align: center;
margin-top: 80px;
text-shadow: 2px 4px 0px rgba(255,0,0,0.57);
}
#p1::first-letter{
 font-weight: bold;
 font-size: 30px;
}
#haha{
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 250px;
   padding-right: 250px;
}
#p2{
 text-indent: 100px; 
 word-spacing: 0.3em;
}
#p3{
    text-indent: 50px;
}
#div3{
    border: 10px solid rgb(0, 0, 0);
    background-color: antiquewhite;
}
#p5{
    padding-top: 50px;
}
#p5::first-letter{
  text-transform: capitalize;
}
#button1:hover{
    background-color:blue;
    color: aliceblue ;
    text-decoration:none;   
}
#ofb1{
    text-align: center;
}

#button2:focus{
    background-color:red;
    color: aliceblue ;
   
}
#ofb2{
    text-align: center;
}

.appli{
  font-family: "pacifico";
  
}
